<!DOCTYPE html>
<html>
  <head>
    <title>OrbitingObjects</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield(:head) %>
  </head>

  <body class="text-zinc-50 bg-gradient-to-b to-black from-indigo-950">
    <main class="container mx-auto flex w-screen h-100% p-5">
      <%= yield %>
    </main>
  </body>
</html>
